<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
<!-- 	<form ng-controller="testCtrl">
		<input type="text" ng-model="customer.name">
		<input type="password" ng-model="customer.password">
		<button type="submit" ng-click="submit()">submit</button>
	</form> -->

	<form ng-controller="test">
		<input type="text" ng-model="user.name">
		<button ng-click="test()">submit</button>
	</form>

<!-- <script type="text/javascript" src="crypto-js.js"></script> -->

	<script src="../lib/jquery-1.9.1.js"></script>
	<script src="../lib/angular-1.3.0.14/angular.js"></script>
	<script src="test.js"></script>
	<script src="sercices.js"></script>
</body>
</html>